
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="Suma" method="post">
            <label>Valor 1</label>
            <input type="text" name="N1" />
            <label>Valor 2</label>
            <input type="text" name="N2" /> <br />
            <input type="submit" value="Sumar" name="Boton" /><br /><br />
            <input type="submit" value="Restar" name="Boton" /><br /><br />
            <input type="submit" value="Multiplicar" name="Boton" /><br /><br />
            <input type="submit" value="Dividir" name="Boton" /><br /><br />

        </form>
        <br />
        <br />
        
        

        
    </div>
</body>
</html>
