
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Suma</title>
</head>
<body>
    <div> 
        <h1>Resultado:</h1> <br />
        PROCESOS:@Model.Signos<br />
        resultado es: @Model.R<br />
    </div>
</body>
</html>
